.heading{
    width:100%;
    text-align: left;
}

#note{
    background-color:#cdc3e2;
    line-height:2;
    margin: 0px;
}


.modal-dialog{
 width:70%;

}

.modal-body{
text-align:left;
font-size: 20px;

}

canvas{
    border:3px solid white;
    border-radius:20px;
    box-shadow: 5px 5px 5px white;
    

}